<div class="container-fluid footer">
    <div class="row">

        <div class="col-lg-6">
            <h1>Chef's Special</h1>
        </div>
        <div class="col-lg-4">
            <a routerLink="about">about</a>
            <a routerLink="menu">menu</a>
            <a routerLink="contact">contact</a>

        </div>
        <div class="col-lg-2"> 
            <a target="_blank"><i class="bi bi-facebook"></i></a>
            <a target="_blank"><i class="bi bi-instagram"></i></a>
            <a target="_blank"><i class="bi bi-whatsapp"></i></a>
            <a target="_blank"></a>

        </div>

    </div>

</div>