<div class="container mt-5 mb-5">
    <div class="row">
        <div class="col-lg-6"   *ngIf="menuData">
            <a routerLink="../" class="btn btn-sm btn-dark mb-3">Back to Menu</a>
            <img  src="{{menuData[0].foodImg}}" width="100%"/>

            <h1>{{menuData[0].foodName}} </h1>

            <p>{{menuData[0].foodDetails}} </p>
            
            <p>{{menuData[0].foodPrice | currency:'INR'}} </p>



        </div>
        <div class="col-lg-6">
            <h1>Enter Your Details</h1>

            <form>
                <input type="text" class="form-control" placeholder="Name">
                <input type="text" class="form-control" placeholder="Mobile no">
                <textarea class="form-control" placeholder="Enter the Delivery address"></textarea>
                <button class="btn btn-md btn-dark mt-3">place order</button>

            </form>
        </div>
    </div>

</div>
